$white: #fff;
$black: #000;

$white-gray: #f4f5f9;
$red: #e74c3c;
$gray-light: #cbc6c0;
$color-line: #f1ede7;
$adv-line: #e6e7eb;
$adv-bd-gray: #e5e5e5;
$adv-gray: #999999;
$gray: #6a6a6a;
$service-bg: #202020;