.integrations {
    background-color: $white-gray;
    padding: 140px 0;

    .wrap {
                    

        >p{
            font-size: 14px;
            line-height: 29px;
            margin: 30px 0;
            color: $adv-gray;
            text-align: center;
        }
        p.integrations__title {
            text-align: center;
            color: $gray;
            font-size: 36px;
            font-weight: 700;
            text-transform: uppercase;
            margin-top: 50px;
        }

        .integrations__devider {        
            @include devider($adv-gray);
        }
    }  
    .integrations__block {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        margin-top: 50px;

        .integrations__elements {
            flex-basis: 17%;
            box-shadow: 0 1px 3px rgba(31, 31, 31, .09);
            background-color: $white;
            margin: 15px 0;
            height: 100px;
            display: flex;
            justify-content: center;           

            span {
                align-self: center;
                img {
                    max-width: 100%;
                }
            }
        }
    }
}

@media (max-width: 980px) {
    .integrations {
        padding: 50px 0;

        .integrations__block {
            justify-content: center;
            
            .integrations__elements {
                flex-basis: 30%;
                margin: 15px 1.5%;
            }
        }
    }       
}

@media (max-width: 580px) {
    .integrations {
        padding: 50px 0;

        .integrations__block {
            justify-content: center;
            
            .integrations__elements {
                flex-basis: 45%;   
                margin: 10px 2.5%;             
            }
        }
    }       
}

@media (max-width: 420px) {
    .integrations {
        padding: 50px 0;

        .integrations__block {
            justify-content: center;
            
            .integrations__elements {
                flex-basis: 100%;   
                margin: 10px 0;            
            }
        }
    }       
}


